/* Allgemeine Einstellungen */
.custom-dropdown,
.custom-textbox {
  width: 240px;
}

/* Dialoge */
#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

/* Share URL */
#share-url {
  width: 100%;
  user-select: text !important; /* Vereinheitlichung der user-select-Eigenschaft */
  -webkit-touch-callout: default !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}
