/* Highlight the active menu item */
.menu-items a.active {
  font-weight: bold;
  text-decoration: underline;
  color: #007bff;
}

/* Back-to-Top Button Styling */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}


/*************************************************************************
 * Your custom CSS file
 *************************************************************************/
.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}


.banner-gif-100 { 
  background: url('../img/dummy-background.gif') no-repeat center;
  background-size: cover;
  height: 100px;
} 
.banner-gif-150 { 
  background: url('../img/dummy-background.gif') no-repeat center;
  background-size: cover;
  height: 150px;
} 
