.site-footer-fixed {
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
}

@media only screen and (min-height: 932px) {
    .site-footer-fixed {
        padding-bottom: 30px; /* Example value, adjust as needed */
    }
}

.footer-maximized-viewport {
    max-height: calc(100vh - 50px); /* Adjust as needed */
}

.footer-enhanced-content {
    padding: 10px; /* Adjust for mobile devices */
}
