{
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "never",
  "embeddedLanguageFormatting": "auto"
}
