name = "1web"
pages_build_output_dir = "dist"
compatibility_date = "2024-11-01"
compatibility_flags = ["nodejs_compat"]

[[services]]
binding = "AI_SEARCH"
service = "ai-search-proxy"

[vars]
AI_SEARCH_INDEX = "ai-search-suche"
RAG_ID = "ai-search-suche"
MAX_SEARCH_RESULTS = "10"
