# Cloudflare Pages Configuration
# https://developers.cloudflare.com/pages/configuration/

name = "iweb"
pages_build_output_dir = "dist"
compatibility_date = "2025-01-23"
compatibility_flags = ["nodejs_compat"]

