name = "1web"
account_id = "652ca9f4abc93203c1ecd059dc00d1da"
compatibility_date = "2024-11-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "dist"

[build]
command = "npm run build"
output_dir = "dist"

[vars]
AI_SEARCH_INDEX = "ai-search-suche"
RAG_ID = "ai-search-suche"
MAX_SEARCH_RESULTS = "10"

[[services]]
binding = "AI_SEARCH"
service = "ai-search-proxy"

[ai]
binding = "AI"
